body{
    background: #800080;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding:10px;
    margin:10px;
    background:#ffd700;
    border-radius: 5px;
}

.assignment img{
    width:200px;
    margin:10px;
    border:4px dashed #008000;
}

.assignment img:hover{
    border:4px dashed #800080;
}

h1{
    color: #ffff00;
    text-align: center;
}

h1:hover {
    color:#008000;
}

a {
    text-decoration:none;
    color:#800080;
}

a:hover {
    color:#0000ff;
}